@model IEnumerable<SistemaAcademico.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Matrículas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nova Matrícula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAluno)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MatriculaId">Editar</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.MatriculaId">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MatriculaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
